/*BODY*/

body{
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: #ffffff;
  width: 100%;
  height: 100%; 
  margin: 0;
}

/*LOGO*/

.logo-portada img{
  width: 15%;
  height: auto;
  position: relative;
  padding-top: 28%;
  z-index: 2; /* Asegura que el texto esté por encima de la capa de transparencia */
  color: #fff; /* Cambia el color del texto para que sea legible en la capa oscura */
}

.icono {
  padding-top: 15px;
  height: 30px;
  position: relative;
  z-index: 2;
  animation: moverIcono 1s infinite alternate;
}

@keyframes moverIcono {
  20% {
    top: 0;
  }
  100% {
    top: 20px;
  }
}

@media (max-width: 1100px) {

  .logo-portada img{
    width: 30%;
    height: auto;
    position: relative;
    margin-top: 32%;
    z-index: 2; /* Asegura que el texto esté por encima de la capa de transparencia */
    color: #fff; /* Cambia el color del texto para que sea legible en la capa oscura */
  }
  
}


/*HEADER*/

header {
  background-color: #333; /* Color de fondo del encabezado */
  color: #fff; /* Color de texto del encabezado */
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none; /* Quita las viñetas de la lista */
  display: flex; /* Muestra los elementos del menú en línea */
  padding: 0%;
}

nav li {
  margin-inline: 20px; /* Espacio entre elementos del menú */
}

nav a {
  text-decoration: none; /* Quita el subrayado de los enlaces */
  color: #fff; /* Color de texto de los enlaces */
  font-weight: thin; /* Texto en negrita */
}

/* Cambiar color de enlace al pasar el mouse sobre ellos */
nav a:hover {
  color: #b69cff; /* Color al pasar el mouse */
}

.active {
  color: #b69cff;
}

.menu-celular{
  display: none;
}

.menu-btn {
  display: none;
}

/* Estilos para el menú desplegable */
@media (max-width: 1100px) {

  .menu-escritorio {
   display: none;
  }
 
  .menu-btn {
   position: relative;
   width: 100%;
   height: 100%;
   display:flex;
   font-size: 90px;
   z-index: 3;
 }
 
 
  .menu-celular{
   display: block;
   position: absolute;
   color: white;
   padding-left: 9%;
   margin-top: -80%;
   width: 80%;
   z-index: 3;
  }
 
 
   .menu-mobile {
     display:block;
     font-size: 35px;
     text-align: left;
     list-style: none;
     margin-top: -2%;
     margin-left: -4%;
   }
 
li{
  padding-top: 2%;
}

   a {
     color: white;
     text-decoration: none;
   }
   
 }


/*BODY - FONDO*/

.fondo-fresia-inicio {
  position: relative;
  background-image: url(../imagenes/fresia1.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}

.fondo-fresia-inicio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1; /* Cambiado a un valor menor */
}

@media (max-width: 1100px){
  .fondo-fresia-inicio {
    position: relative;
    background-image: url(../imagenes/fresia1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 50vh;
  }

}


.fondo-fresia-servicio {
  position: relative;
  background-image: url(../imagenes/fresia5.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}

.fondo-fresia-servicio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1; /* Cambiado a un valor menor */
}

@media (max-width: 1100px){
  .fondo-fresia-servicio {
    position: relative;
    background-image: url(../imagenes/fresia5.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 50vh;
  }

}

.fondo-fresia-nosotros {
  position: relative;
  background-image: url(../imagenes/fotocoti.PNG);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}

.fondo-fresia-nosotros::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1; /* Cambiado a un valor menor */
}

@media (max-width: 1100px){
  .fondo-fresia-nosotros {
    position: relative;
    background-image: url(../imagenes/fotocoti.PNG);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 50vh;
  }

}

/*INICIO*/

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: #7547f6;
}

.info-general{
  width: 100%; 
  margin-top: 50px;
}
.info-general .info {
  width: 100%;
  margin: 0 auto; /* Centra horizontalmente la sección */
  font-size: 16px;
  text-align: center;
}

@media (max-width: 1100px){

  h2 {
    font-size: 70px;
    color: #7547f6;
  }

  .info-general p.info{
    font-size: 40px;
    width: 80%; 
    margin-top: 50px;
}
}

/*BOTON INSTAGRAM*/

.boton {
  display: inline-block;
  margin-top: 4%;
  margin-bottom: 30px;
  padding: 10px 60px;
  background-color: #b69cff;
  color: #ffffff;
  border: 2px solid #b69cff;
  border-radius: 40px;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
}

.boton:hover {
  background-color: #ffffff; /* Cambia el color de fondo al poner el mouse encima */
  color:#b69cff; /* Cambia el color del texto al poner el mouse encima */
}

@media (max-width: 1100px){

  .boton {
    margin-top: 65px;
    margin-bottom: 30px;
    font-size: 40px;
  }
 
  
}

/*CARRUSEL*/
.carousel-container {
  
  max-width: 80%; /* Ajusta el ancho máximo del carrusel */
  margin: 0 auto;
  overflow: auto;
}

.carousel-slide {
  margin-top: 3%;
  margin-bottom: 5%;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 10px; /* Espacio entre las imágenes */
}

.carousel-slide img {
  border-radius: 20px;
  width: calc(100% / 3 - 10px); /* Calcula el ancho para mostrar tres imágenes por fila */
  height: auto;
}

.carousel-slide::-webkit-scrollbar {
  height: 10px;
}

.carousel-slide::-webkit-scrollbar-track {
  background: #ffffff; /* Color de fondo de la pista de la barra de desplazamiento */
}

.carousel-slide::-webkit-scrollbar-thumb {
  background: #b69cff; /* Color del "pulgarcito" de la barra de desplazamiento */
  border-radius: 5px; /* Borde redondeado del "pulgarcito" */
}

.carousel-slide::-webkit-scrollbar-thumb:hover {
  background: #7547f6; /* Color del "pulgarcito" al pasar el cursor */
}


@media (max-width: 1100px) {
  .carousel-slide img {
    width: calc(100% / 1 ); /* Mostrar dos imágenes por fila en dispositivos más pequeños */

  }

  .carousel-container {
  
    max-width: 100%; /* Ajusta el ancho máximo del carrusel */
    margin: 0 auto;
    overflow: hidden;
  }

  .carousel-slide::-webkit-scrollbar {
    height: 25px;
  }
  
  .carousel-slide::-webkit-scrollbar-track {
    background: #ffffff; /* Color de fondo de la pista de la barra de desplazamiento */
  }
  
  .carousel-slide::-webkit-scrollbar-thumb {
    background: #b69cff; /* Color del "pulgarcito" de la barra de desplazamiento */
    border-radius: 5px; /* Borde redondeado del "pulgarcito" */
  }
  
  .carousel-slide::-webkit-scrollbar-thumb:hover {
    background: #7547f6; /* Color del "pulgarcito" al pasar el cursor */
  }
  
}


  /*BOTONES CARRUSEL */

  #prev, #next {
    width: 60px; /* Ancho del botón circular */
    height: 60px; /* Alto del botón circular */
    border-radius: 50%; /* Establece el borde redondeado para hacerlo circular */
    background-color: #b69cff; /* Color de fondo del botón */
    display: inline-block;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none; /* Elimina el borde */
    margin: 0 10px; /* Margen izquierdo y derecho para separar los botones */
  }
  
  #prev img, #next img {
    width: 25%; /* Ajusta el ancho del ícono al 100% del contenedor del botón */
    height: auto; /* Mantiene la proporción de aspecto de la imagen */
  }
  
  #prev:hover, #next:hover {
    background-color: #ffffff; /* Cambia el color de fondo al poner el mouse encima */
    color: #b69cff; /* Cambia el color del ícono al poner el mouse encima */
    border: 2px solid #b69cff;
  }
  
.botones {
margin-top: 20px;
}

@media (max-width: 1100px){

 
  #prev, #next {
    width: 110px; /* Ancho del botón circular */
    height: 110px; /* Alto del botón circular */
    border-radius: 50%; /* Establece el borde redondeado para hacerlo circular */
    background-color: #b69cff; /* Color de fondo del botón */
    display: inline-block;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none; /* Elimina el borde */
    margin: 0 10px; /* Margen izquierdo y derecho para separar los botones */
  }
  
  #prev img, #next img {
    width: 25%; /* Ajusta el ancho del ícono al 100% del contenedor del botón */
    height: auto; /* Mantiene la proporción de aspecto de la imagen */
  }
  
  #prev:hover, #next:hover {
    background-color: #ffffff; /* Cambia el color de fondo al poner el mouse encima */
    color: #b69cff; /* Cambia el color del ícono al poner el mouse encima */
    border: 2px solid #b69cff;
  }
  
.botones {
margin-top: 20px;
}
}

/*GALERIA DE SERVICIOS*/

.conteiner-servicios {

display: flex;
margin-top: 50px;
align-items: center;
justify-content: center;
border-radius: 40px;

}

.conteiner-servicios .imagen-nueva2 {
position: relative;
margin: 10px;
max-width: 25%; 

}

.imagen-nueva2 img, .hover-image {
max-width: 100%;
height: auto;
transition: transform 0.3s;
border-radius: 20px;
}

.hover-image {
position: absolute;
top: 0;
left: 0;
opacity: 0;
}

.imagen-nueva2:hover img {
transform: scale(1.03);
}

.imagen-nueva2:hover .hover-image {
opacity: 2;
}

/*PROYECTOS*/
/*proyecto casamiento*/
#banner-servicio{
width: 65%;
border-radius: 30px;
}

@media (max-width: 1100px){

  #banner-servicio{
    width: 90% ;
    margin-top: 5%;
    font-size: 40px;
  } 
}

.banners-contenedor{
  width: 100%;
  margin: 0 auto;
}

.banners-contenedor .boton-servicio {
  position: absolute;
  margin-left: -22%;
  margin-top: 21%;
  padding: 10px 60px;
  background-color: #b69cff;
  color: #ffffff;
  border: 2px solid #b69cff;
  border-radius: 40px;
  font-size: 15px;
  text-decoration: none;
  cursor: pointer;
}

.boton-servicio:hover {
  background-color: #7e5ae0; 
  color:#ffffff; 
  border: 2px solid #7e5ae0;
}



/*FOOTER*/

.footer {
  background-color: #333; /* Color de fondo del encabezado */
  color: #fff; /* Color de texto del encabezado */
  display: flex;
  justify-content: center;
  margin-top: 8%;
  }
  
  .footer-container {
  list-style: none; /* Quita las viñetas de la lista */
  display: flex; /* Muestra los elementos del menú en línea */
  height: 70px;
  margin-top: 0;
  }
  
  .footer-info1{
  font-size: 14px;
  color:hsl(256, 100%, 81%);
  margin-top: 1%;
  padding: 20px;
  }
  
  .footer-info{
  font-size: 14px;
  margin-top: 2%;
  padding: 20px;
  }
 

  @media only screen and (max-width: 1100px) {

    .footer {
      width: 100%;
      background-color: #333; /* Color de fondo del pie de página */
      color: #fff; /* Color de texto del pie de página */
      display: inline-block;
      padding-top: 2%;
      padding-bottom: 2%;
      margin-top: 10%;
  }
  
  .footer-info1{
    font-size: 30px;
  }
  
  .footer-container{
    display: inline;
  }
  
  .footer-info {
    font-size: 26px;
    margin-top: -30px;
  }
  
  }

/*FOOTER-index*/

.footer-index {
  background-color: #333; /* Color de fondo del encabezado */
  color: #fff; /* Color de texto del encabezado */
  display: flex;
  justify-content: center;
  margin-top: 35%;
  }
  
  .footer-index-container {
  list-style: none; /* Quita las viñetas de la lista */
  display: flex; /* Muestra los elementos del menú en línea */
  height: 70px;
  margin-top: 0;
  }
  
  .footer-index-info1{
  font-size: 14px;
  color:#b69cff;
  margin-top: 1;
  padding: 20px;
  }
  
  .footer-index-info{
  font-size: 14px;
  margin-top: 2;
  padding: 20px;
  }
  

@media only screen and (max-width: 1100px) {

  .footer-index {
    width: 100%;
    background-color: #333; /* Color de fondo del pie de página */
    color: #fff; /* Color de texto del pie de página */
    display: inline-block;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 5%;
}

.footer-index-info1{
  font-size: 30px;
}

.footer-index-container{
  display: inline;
}

.footer-index-info {
  font-size: 26px;
  margin-top: -30px;
  }

  }

/*SOBRE NOSOTROS*/

.fotocoti {
width: 40%;
margin-top: -80px;
margin-bottom: -50px;
clip-path: circle(40% at center); /* Recorta la imagen en forma de círculo */
}

.info-general{
width: 100%; /* Establece el ancho del 80% de la ventana del navegador */
margin-top: 50px;
}

.info-nosotros {
width: 40%;
padding-right: 3.3%;
padding-left: 11%;
font-size: 16px;
text-align: justify;
float: left;
}

#boton-nosotros {
margin-top: -10px¿
}

.carousel-container-nosotros {
margin: 0 auto; /* Centra horizontalmente la sección */
width: 80%;
display: flex;
align-items: center;
justify-content: center;
overflow: hidden; /* Para ocultar las imágenes fuera del carrusel */
}

.carousel-nosotros {
display: flex;
transition: transform 0.5s; /* Para una transición suave al cambiar las imágenes */
border-radius: 20px;
margin: 0 auto; /* Centra horizontalmente la sección */
}

.carousel-nosotros img {
max-width: 32.23%;
margin: 0 auto; /* Centra horizontalmente la sección */
margin-top: 50px;
margin-bottom: 30px;
margin-inline: 8px;
object-fit: cover;
filter: grayscale(100%);
transition: filter 0.3s;
cursor: pointer;
flex: 3;
border-radius: 20px;
}

.carousel-nosotros img:hover {
 
  filter: none;
  transform: scale(1.06);
  border-radius: 20px;
}



@media only screen and (max-width: 1100px) {

    .fotocoti {
    display: none;
    }
    
    .info-general{
    width: 100%; /* Establece el ancho del 80% de la ventana del navegador */
    margin-top: 50px;
    }
    
    .info-nosotros {
    width: 80%;
    font-size: 35px;
    text-align: justify;
    }
    
    #boton-nosotros {
    margin-top: -10px;
    }
    
    .carousel-container-nosotros {
    margin: 0 auto; /* Centra horizontalmente la sección */
    width: 100%;
    overflow: hidden; /* Para ocultar las imágenes fuera del carrusel */
    }
    
    
    .carousel-nosotros img {
    max-width: 45%;
    margin-top: 50px;
    margin-bottom: 30px;
    object-fit: cover;
    margin-left: 0;
    border-radius: 20px;
    }

}


/*ESTILOS PARA CELULAR*/

@media only screen and (max-width: 1100px) {

  .map-button {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px 60px;
    background-color: #3c2e0466;
    color: #3c2e04;
    border: 2px solid #3c2e04;
    border: 2px solid;
    border-radius: 40px;
    font-size: 35px;
    text-decoration: none;
    cursor: pointer;
  }

  .map-button:hover {
    background-color: #ffffff; /* Cambia el color de fondo al poner el mouse encima */
    color: #000000; /* Cambia el color del texto al poner el mouse encima */
  }
}
  .contenedor-regalos{
    background-color: white;
    height: 200px;
    background-color: white;
    font-family: 'Poppins', sans-serif;
  }





/* Estilos para dispositivos móviles */


/* Estilos para escritorio */

